{% extends 'base.html' %} {% load static %} {% block header-footer %}
{% load crispy_forms_filters %}
<div class="container row col-12 bg-warning m-0 px-5 py-1 px-5 justify-content-between">
  <h1 class="col-6 col-md-5">{{name}}'s Task book</h1>
  <a href="logout" class="font-weight-bolder bg-danger p-3 text-light text-decoration-none">LOG OUT</a>
</div>
<div class="col-12 row mx-0 container-fluid justify-content-center text-white ">
  <div class="text-center col-12 col-md-2 mt-2 bg-success border">
    <h5 class="font-weight-bold col-12">{{dnCount}}</h5>
    <h5 class="font-weight-bold col-12">Tasks completed</h5>
  </div>
  <div class="text-center col-12 col-md-2 mt-2 bg-danger border">
    <h5 class="font-weight-bold col-12">{{tdCount}}</h5>
    <h5 class="font-weight-bold col-12">Tasks todo</h5>
  </div>

  <div class=" col-7 container-fluid row mx-1 my-0 p-0">
    <form method="POST" action="newtask" novalidate class="col-12 row">
      <h4 class="text-center text-primary col-12 p-0 m-0">Add new task</h4>
      {% csrf_token %}
      <div class="col-md-9 col-9 p-0 mx-1">
        {{form|crispy}}
      </div>
      <input type="submit" value="ADD" class="col-12 col-md-2 btn-outline-success py-2 my-auto" />
    </form>
    {% for msg in messages %}
    <a class="col-12 p-0 m-0 text-danger font-weight-bold"> {{msg}} </a>
    {% endfor %}
  </div>
</div>
<div style="min-height: 530px; " class="container-fluid p-0 m-0 row col-12 mt-4 justify-content-around">
  <div class="col-10 col-md-6 " >
    <table class="col-12 border border-danger">
      <tr>
        <th colspan="4" class="text-center bg-danger border-bottom border-light text-light">Tasks Todo</th>
      </tr>
      <tr class="font-weight-bold">
        <th class="col-1 text-center">N0.</th>
        <th class="text-center">Tasks</th>
        <th class="col-1 text-center">DROP</th>
        <th class="col-1 text-center">DONE</th>
      </tr>
      {% for i in td %}
      <tr class="font-weight-bold ">
        <td class="text-center">{{forloop.counter}} </td>
        <td>{{ i.task }}</td>
        <td class="col-1 text-center">
          <a href=" {% url 'delete' i.id %} " class="btn btn-danger my-1 border">DELETE</a>
        </td>
        <td class="col-1 text-center">
          <a href=" {% url 'done' i.id %} " class="btn btn-success my-1 border">DONE</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>


  <div class="col-10 col-md-6 " >
    <table class="col-12 border border-success">
      <tr>
        <th colspan="4" class="text-center bg-success border-bottom border-light text-light">Tasks Compleeted</th>
      </tr>
      <tr class="font-weight-bold">
        <th class="col-1 text-center">N0.</th>
        <th class="text-center">Tasks</th>
        <th class="col-1 text-center">DELETE</th>
      </tr>
      {% for j in dn %}
      <tr class="font-weight-bold">
        <td class="text-center">{{forloop.counter}}</td>
        <td>{{ j.task }}</td>
        <td class="col-1 text-center">
          <a href=" {% url 'remove' j.id %} " class="btn btn-warning my-1 border">REMOVE</a>

        </td>
      </tr>
      {% endfor %}

    </table>
  </div>
</div>

{% endblock %}