{% extends 'base.html' %} {% block header-footer %}
<div class="container-fluid row m-0 p-0 justify-content-center col-12">
    <div class="col-10 col-md-5 m-3 border border-primary pt-5 text-center">
        <h1>Log In</h1>
        <p class="col-12 font-weight-bold text-secondary p-0 m-0">existing user</p>
        <form action="login" method="POST">
            {% csrf_token %}
            <input type="text" class="col-10 mt-4 mt-5" placeholder="username" name="username" />
            <input type="password" name="password" placeholder="Password" id="userpass" class="col-10 mt-5" />
            <input type="submit" value="LOG IN" class="col-3 btn-outline-success my-4" />
        </form>
    </div>
    <div class="col-10 col-md-5 m-3 border border-primary pt-5 text-center">
        <h1>Sign In</h1>
        <p class="col-12 font-weight-bold text-secondary p-0 m-0">
            register as a new user
        </p>
        <form action="signin" method="POST">
            {% csrf_token %}
            <input type="text" class="col-10 mt-4 mt-5" placeholder="username" name="username" />
            <input type="password" name="password1" id="usrpass1" class="col-10 mt-4" placeholder="password" />
            <input type="password" name="password2" id="usrpass2" class="col-10 mt-4" placeholder="confirm password" />
            <input type="submit" value="SIGN IN" class="col-3 btn-outline-success my-5" />
        </form>
    </div>
    <div class="container-fluid row col-12 mt-4 px-5 text-center">
        {% for msg in messages %}
        <h4 class="col-12 text-danger"> {{msg}} </h4>
        {% endfor %}
    </div>
    {% endblock%}