{% extends 'base.html' %}
{% load crispy_forms_filters %}
       {% block header-footer %} 

      <div class="container row col-12 bg-warning mx-0 justify-content-between px-5">
        <h2 class=" my-auto  " >Admin : {{name}}</h2>
        <h2>You are viewing <span class="text-primary font-weight-bolder">{{username}}'s</span> data</h2>
        <a href="{% url 'adout' %} " class="font-weight-bolder bg-danger p-3 text-light text-decoration-none">LOG OUT</a>
      </div>
      <div style="min-height: 700px;" class="container-fluid p-0 m-0 row col-12 mt-4 justify-content-center">
        <div class="col-10 col-md-6 " style="overflow: scroll;">
          <table class="col-12 border border-danger">
            <tr>
              <th colspan="3" class="text-center bg-danger border-bottom border-light text-light">{{username}}'s  Tasks Todo</th>
            </tr>
            <tr class="font-weight-bold">
              <th class="col-1 text-center">N0.</th>
              <th class="text-center">Tasks</th>
              <th class="col-1 text-center">DROP</th>
            </tr>
            {% for i in td %}
            <tr class="font-weight-bold ">
              <td class="text-center">{{forloop.counter}} </td>
              <td>{{ i.task }}</td>
              <td class="col-1 text-center">
                <a href=" {% url 'admin-delete' i.id %} " class="btn btn-danger my-1 border">DELETE</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      
      
        <div class="col-10 col-md-6 " style="overflow: scroll;">
          <table class="col-12 border border-success">
            <tr>
              <th colspan="4" class="text-center bg-success border-bottom border-light text-light">{{username}}'s compleeted tasks</th>
            </tr>
            <tr class="font-weight-bold">
              <th class="col-1 text-center">N0.</th>
              <th class="text-center">Tasks</th>
              <th class="col-1 text-center">DELETE</th>
            </tr>
            {% for j in dn %}
            <tr class="font-weight-bold ">
              <td class="text-center">{{forloop.counter}}</td>
              <td>{{ j.task }}</td>
              <td class="col-1 text-center">
                <a href=" {% url 'admin-delete' j.id %} " class="btn btn-warning my-1 border">REMOVE</a>
      
              </td>
            </tr>
            {% endfor %}
      
          </table>
        </div>
      </div>
      <div class="col-12 container row justify-content-center">
      <div class="container col-6 row border border-primary justify-content-center mt-4">
        {% for msg in messages %}
        <h4 class="col-12 p-0 my-2 text-danger text-center font-weight-bold"> {{msg}} </h4>
        {% endfor %}
        <h2 class="my-auto col-12 text-center">Update user</h2>
      <form class="col-8 font-weight-bold my-4" method="POST" action="{% url 'update'%}" novalidate>
        {% csrf_token %}
        <input type="text" name="oldusername" placeholder="{{username}}" value="{{username}}" readonly class="col-12 text-center border-0 text-primary font-weight-bolder">
        {{form|crispy}}
        <input type="radio" value="True"  name="is_staff" id="is_staff"><label for="is_staff" class="mx-2">Admin</label>
        <input type="radio" value="False" checked name="is_staff" id="is_staff"><label for="is_staff" class="mx-2">User</label>
          <button class="btn btn-outline-primary col-12 mt-4" type="submit">Update user data</button>
        </form>
      </div>
    </div>

       {% endblock %}
